02_SSBW/Proyecto/virtualenv/

.vscode/

02_EV/Godot_v3.2.3-stable_win64.exe
.Rproj.user

02_SIGE/01_Prado/06_Prácticas Grupo 1 (Lunes 1700-1830)/Práctica 1/Entrega Práctica 1/p1_alvdebon/data/test.csv

02_SIGE/01_Prado/06_Prácticas Grupo 1 (Lunes 1700-1830)/Práctica 1/Entrega Práctica 1/p1_alvdebon/ejemplo_github/data/test.csv

02_GIW/02_Temario de Prácticas/02_Práctica Tema 2. Desarrollo de un sistemas de recomendación/Entrega de la Práctica 2/practica2_delaFlorBonilla_Alvaro/utilities/__pycache__/

02_GIW/02_Temario de Prácticas/02_Práctica Tema 2. Desarrollo de un sistemas de recomendación/Entrega de la Práctica 2/practica2_delaFlorBonilla_Alvaro/recommender/__pycache__/

02_SSBW/Proyecto/backend/.idea/

02_SSBW/Proyecto/backend/venv/

02_SSBW/Proyecto/backend/Recetas/api/__pycache__/

02_SSBW/Proyecto/backend/Recetas/api/migrations/

02_SSBW/Proyecto/backend/Recetas/.idea/

02_SSBW/Proyecto/backend/Recetas/Recetas/__pycache__/

*.p

02_EV/06_Practicas/p3_deLaFlorBonillaAlvaro.zip

02_EV/06_Practicas/p3_v2_delaFlorBonillaAlvaro.zip

02_CC2/03_Practicas/P3/.idea/

02_EV/06_Practicas/04_Práctica 4 Programación de entornos virtuales/p4_DeLaFlorBonillaAlvaro.zip

02_EV/06_Practicas/05_Práctica 5 Simulación física y sensores/p5_deLaFlorBonillaAlvaro.zip

02_EV/06_Practicas/05_Práctica 5 Simulación física y sensores/p5/demo.mkv

02_SSBW/Proyecto/senderos/datos_db/

02_SSBW/Proyecto/senderos/backend/backend/__pycache__/

02_SSBW/Proyecto/senderos/backend/senderos_web/__pycache__/
