<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"></head><body>{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<br><br><br><br>
<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="https://swad.ugr.es/swad/tmp/ro/cTml-TY0TtsFtqKTtK_oSaI0Jamo2_A49xDtmI4Zk/%7B%7B%20signup_url%20%7D%7D">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="https://swad.ugr.es/swad/tmp/ro/cTml-TY0TtsFtqKTtK_oSaI0Jamo2_A49xDtmI4Zk/%7B%7B%20signup_url%20%7D%7D">sign up</a> first.{% endblocktrans %}</p>
{% endif %}


<form class="form-signin row" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="col-md-4 col-sm-1"></div>
  <div class="col-md-4 col-sm-10">

<label for="inputEmail" class="sr-only">Email address</label>
<input type="text" id="" name="login" class="form-control" placeholder="Usuario" required="" autofocus="" value="alvdebon@correo.ugr.es">
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
<div class="checkbox mb-3">
<label>
  <input type="checkbox" value="remember-me"> Remember me
</label>
<a class="button secondaryAction" href="https://swad.ugr.es/swad/tmp/ro/cTml-TY0TtsFtqKTtK_oSaI0Jamo2_A49xDtmI4Zk/%7B%%20url%20'account_reset_password'%20%%7D">{% trans "Forgot Password?" %}</a>

</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
</form>

<!-- <form class="login form-signin" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form> -->

{% endblock %}
</body></html>