# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Alvaro\Documents\mii_ugr\02_GIW\02_Temario de Prácticas\02_Práctica Tema 2. Desarrollo de un sistemas de recomendación\Entrega de la Práctica 2\practica2_delaFlorBonilla_Alvaro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
