{% extends "senderos_web/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <!-- DETALLE DE LA VISITA -->
    <p></p>
    <div class="col-lg-12">
        <div class="row">
            <div class="card mb-3" style="width: 100%; color: #fff;background-color: #52565e;">
                <div class="row ">
                    <div class="col-md-12">
                        <h4 style="margin-top: 10px;" align="center">Añadir nueva Visita</h4>
                    </div>
                </div>
            </div>

            <div id="visita_card_add" class="card mb-3" style="width: 100%;">
                <div class="row ">
                    <div class="col-md-12 center_div">
                        <form id="add_visita" action="{% url 'add_visita' %}" method="post"
                            enctype="multipart/form-data" style="margin: 20px;">

                            {% csrf_token %}
                            <div style="text-align: center; margin-bottom: 3mm">
                                {{ form|crispy }}
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-primary float" data_but="btn-xs"
                                        style="margin-right: 5px;margin-bottom: 10px;"><i class='fa fa-floppy-o'></i>
                                        Guardar</button>
                                    <a href="{% url 'index' %}">
                                        <button type="button" class="btn btn-danger" data_but="btn-xs"
                                            style="margin-bottom: 10px;"><i class='fa fa-remove'></i> Cancelar</button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}